<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
  <connectionStrings>
    <add name="DBCon" connectionString="Data Source=MOHON-PC;Initial Catalog=Customers;User Id=sa; password=123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
